<html>
    <head>
        <title>Form</title>
    </head>
    <body style="background-color: grey;">

        <form method="post" action="/emp-process">
        <h2>Employee</h2>
        <h3>Name:<input type="text" name="nm"></h3>
        <h3>Mobile:<input type="text" name="mno"></h3>
        <h3>Age:<input type="number" name="age"></h3>
        <h3>Salary:<input type="number" name="sal"></h3>
        <h3><input type="submit"/></h3>
        </form>
    </body>
</html>