<html>
    <form method="post">
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" />
        <button type="submit" >log in</button>
</form>
    </html>