<div class="post">
				<h2 class="title"><a href="#">about</a></h2>
				<div style="clear: both;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<table align="center" border="2px" style="height: 300px; width:550px">
						<tbody><tr>
							<th>Name</th>
							<td>kiran bornare</td>
						</tr>
						<tr>
							<th>D.O.B</th>
							<td>11-05-1997</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>6355847685</td>
						</tr>
						<tr>
							<th>E-mail</th>
							<td>kiran.b@webcodegenie.com</td>
						</tr>
						<tr>
							<th>Address</th>
							<td>At post patoda tel yeola dist nashik</td>
						</tr>
					</tbody></table>
				</div>
			</div>