<html>
    <head>
        <h2><a href="reg" style="color:rgb(196, 94, 36)">Signup</a><br></h2>
        <h2><a href="displaystud" style="color:rgb(190, 95, 50)">Display</a></h2>

    </head>
    <body style="background-color: gray;"> 
        <h2>Student</h2>
        <form method="post" action="/reg-process">
       <h3>Name:<input type="text" name="nm"></h3> 
        <h3>Mobile:<input type="text" name="mno"></h3>
        <h3>Age:<input type="number" name="age"></h3>
        <h3>Branch:<input type="text" name="branch"></h3>
       <h3>Percentage:<input type="number" name="per"></h3>
       
        <input type="submit"/>
        </form>
    </body>
</html>