<html>
    <head>
        <h2><a href="reg">Signup</a><br></h2>
        <h2><a href="displaystud">Display</a></h2>

    </head>
    <body>
        <form method="post" action="/reg-process">
        Name:<input type="text" name="nm">
        Mobile:<input type="text" name="mno">
        Age:<input type="number" name="age">
        Branch:<input type="text" name="branch">
        Percentage:<input type="number" name="per">
       
        <input type="submit"/>
        </form>
    </body>
</html>