<html>
    <body>
        <center><h1>kiranbornare.com</h1></center>
        <hr/>
        <a href="/">Home</a> | <a href="/about">About</a>
        <hr/>
        {{> news}}
        <hr/>
            {{{body}}}
        <hr/>
        <p>Website is running completed</p>
    </body>
</html>