<html>
<body style="background-color: wheat;">
    {{!-- <%- include('header'); -%> --}}
    <form method="post">
        <h1><h3>Forgot Password</h3></h1>
        <table>
            <tr>
                <td><h3>Email</h3></td>
                <td><input type="text" placeholder="Enter Email" name="user_email" required></td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
        <a href="/login">Switch to Login</a>
    </form>
</body>

</html>