
<!DOCTYPE html>    
<html>   
    <form method="POST" 
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="/Express1/myapp/style.css">    
</head>    
<body> 
    <h1>{{title}}</h1>   
    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="post" >    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="n1" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="n2" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="submit"/>       
        <br><br>    
       
    </form>     
</div>    
</body>    
</html>