
<!DOCTYPE html>    
<html>   
    <form method="post" 
<head>   
    <title>Login Form</title>    
</head>
<body> 
      
    <div class="login">    
    <form id="login" method="post" >    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="txt1">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="txt2">    
        <br><br>    
        <input type="submit"/>       
        <br><br>    
       
    </form>     
</div>    
</body>    
</html>